body {
  color: white;
  text-align: center !important;
  background-color: #4571E5 !important;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


li {
  text-align: center;
  display: inline-block;
  margin: 2em;
}

.ui.card{
  
  min-height: 300px !important;
  /* margin:2rem !important; */
  /* background-color: red !important; */
}